#!/bin/bash
eval "$(lorri direnv)"

# Loads a “.env” file into the current environment
dotenv_if_exists .env

# Creates and loads a virtualenv environment
# under $PWD/.direnv/python-$python_version
layout python

if on_git_branch; then
  echo && git status --short --branch &&
  echo && git fetch --verbose
fi